body {
  font-family: 'Open Sans', serif;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}
.content {
  max-width: 1000px;
  margin: auto;
}
a {
  font-weight: bold;
  color: #163e67;
}
.cleardiv {
  display: block;
  clear: both;
}
.heading {
  font-weight: bold;
  font-size: 1.5em;
}
p {
  max-width: 800px;
  font-size: 1em;
  line-height: 2em;
}
.header {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}
.header .logo-container img.logo {
  width: 200px;
}
.header .logo-container .logoB {
  display: none;
}
.header .logo-container .logo-caption {
  font-size: 1.5em;
}
.header .nav-container {
  display: block;
  float: right;
  position: relative;
  bottom: 40px;
}
.header .nav-container .nav-item {
  display: inline;
  float: left;
  padding: 20px;
  font-size: 1em;
}
.header .nav-container .nav-item:hover {
  background-color: #163e67;
  cursor: hand;
  cursor: pointer;
}
.header .nav-container .nav-item:hover a {
  color: white;
}
.elevator {
  padding-top: 80px;
  padding-bottom: 80px;
}
.elevator .one-liner {
  display: inline-block;
  padding-top: 10px;
  float: left;
  width: 500px;
  font-size: 2em;
  line-height: 1.5em;
}
.elevator .call-to-action-container {
  display: block;
  margin-top: 30px;
  margin-left: 250px;
  clear: both;
  float: left;
}
.elevator .call-to-action-container .call-to-action-btn {
  width: 200px;
  background-color: #163e67;
  text-align: center;
  padding: 10px;
}
.elevator .call-to-action-container .call-to-action-btn a {
  color: white;
  text-decoration: none;
}
.about {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e1f1fd;
}
.footer {
  margin: 0px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  text-align: center;
}
