body {
  font-family: 'Open Sans', serif;
  font-size: 0.8em;
}
.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.header {
  margin-top: 20px;
  text-align: center;
}
.header img.logo {
  width: 250px;
}
.header .logo-caption {
  font-size: 1.5em;
}
