doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .content
        .section
          h1 Hello, world!
