// colour definitions
@light: #2F8DD5;
@med: #0463AB;
@dark: #163E67;

// reusable
body {
  font-family: 'Open Sans', serif;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}

.content {
  max-width: 1000px;
  margin: auto;
}

a {
  font-weight: bold;
  color: @dark;
}

// sections-specfici
.header{
  // header logo & nav links
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEEEEE;

  .logo-container {
    img.logo {
      width: 200px;
    }
    //.logoA { display: none; }
    .logoB { display: none; }
    .logo-caption{
      font-size: 1.5em;
    }
  }

  .nav-container {
    display: block;
    float: right;
    position: relative;
    bottom: 40px;
    .nav-item {
      display: inline;
      float: left;
      padding: 20px;
      font-size: 1em;
      &:hover {
        background-color: @dark;
        cursor: hand;
        cursor: pointer;

        a {
          color: white;
        }
      }
    }
  }
}

.elevator {
  // elevator pitch
  padding-top: 50px;
  .one-liner {
    display: inline-block;
    padding-top: 10px;
    float: left;
    width: 500px;
    font-size: 2em;
    line-height: 1.5em;
  }
  .call-to-action-container {
    position: relative;
    top: 50px;
    left: 250px;
    display: block;
    clear: both;
    float: left;
    .call-to-action-btn {
      width: 200px;
      background-color: @dark;
      text-align: center;
      padding: 10px;
      a {
        color: white;
      }
    }
  }
}

